/*
.classe{}
#id{}
*{}
color picker  Ctrl + Shift + C
w3schools.com/css - Revisão css
google fonts
pucsum.photos

Overflow - Por padrão ele mostra mesmo que o conteudo extrapole os limites, enquanto o hidden não irá mostrar o que está para fora.
Float - Flutuar, saindo assim do fluxo da pagina normal

Media Queries
exemplo - @media only screen and (min-width: 600px) and (max-width: 700px){}
Smartphones
@media only screen and (max-width: 600px)
Telas maiores mas ainda pequenas
@media only screen and (min-width: 600px)
Tablets deitados
@media only screen and (min-width: 768px)
Desktop
@media only screen and (min-width: 992px)
Telas maiores
@media only screen and (min-width: 1200px)


*/
ul{
	background: black;
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
li{
	float: left;
}
li a, .dropbtn{
	display: inline-block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	text-align: center;
}
li a:hover, .dropdown:hover .dropbtn{
	background: red;
}
li.dropdown{
	display: inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
	background: white;
	width:  150px;
}
.dropdown-content a{
	color: black;
	display: block;
	text-align: left;
	border: 1px solid rgb(207, 207, 207);
}
.dropdown-content a:hover{
	color:  white;
}
.dropdown:hover .dropdown-content{
	display: block;
}
